/* put your style rules here */
@media (min-width: 768px) {
			.page-header h1 {
				background-image: url({{ staticURL "/yourLogo-80x60.png" }});
				background-repeat: no-repeat;
				background-position: right;
				height: 60px;
			}
		}

.header {
	font-size: 110%;
	font-weight: bold;
	margin-top: 1em;
}

.jumbotron {
	background-image: url({{ staticURL "/your-background-min.png" }});
	min-height: 30em;
}

.btn-outline {
	color: #0099ff;
	background-color: transparent;
	border-color: #0099ff;
}

.top {
	padding: .75em;
	font-size: 150%;
}

.minor {
	font-size: 80%;
	color: gray;
}
